
html{
    font-family: sans-serif;
    text-align: center;
}
header{
    font-size: 77px;
    padding: 0;
    margin: 0;
    width: 100%;
    font-family: monospace;
    color:black;
    text-align: center;
    /* background: url('img/bbq.jpg') no-repeat center; */
    border-radius: 10px;
}

ul{
    display: -ms-inline-grid;
    width: 70%;
    margin: auto;
}

li {
   width:321px;
   margin-left:auto;
   margin-right:auto;
   height: auto;
}
body{
    background-color:rgb(223, 208, 208);
}