
html{
    font-family: sans-serif;
    text-align: center;
}
header{
    font-size: 77px;
    text-align: center;
}
h2 {
    font-family:sans-serif;
}

.bodyy {
    background:url(img/background.jpg) no-repeat center;
}