
html{
    font-family: sans-serif;
    text-align: center;
}
header{
    font-size: 77px;
    color: red;
    text-align: center;
    background: url('img/bbq.jpg') no-repeat center;
}

ul{
    display: -ms-inline-grid;
}
    
li {
        width:321px;
        margin-left:auto;
        margin-right:auto;
        height: auto;
}